<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <header>
    <div class="title">
      <img src="../static/img/Hextech_Chest_Key.png" alt="Coffre hextech">
      <h1>{{ self.title() }}</h1>
    </div>

    <!--<nav>
        <ul>
          <li>Accueil</li>
          <li>TODO !</li>
        </ul>
      </nav>-->
  </header>
  <section class="content">

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
    
  </section>
</body>

</html>