{% extends 'base.html' %}

{% block title %}Chest Seaker{% endblock %}

{% block content %}

<form method="post">
    <div class="form-div">
        <label for="region">Region</label>
        <select name="region" id="region">
            <option value="EUW1">Europe de l'ouest</option>
            <option value="KR">Corée</option>
            <option value="NA1">Amérique du Nord</option>
        </select>
    </div>
    <div class="form-div">
        <label for="summoner-name">Nom d'invocateur</label>
        <input class="input-sum-name" type="text" name="summoner-name" id="summoner-name">
    </div>
    <div class="form-div">
        <input class="input-btn" type="submit" value="Rechercher">
    </div>
</form>

<div class="card-container">
    {% if champion_masteries %}
    {% for champion in champion_masteries %}

    <div class="card">
        <div class="image">
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ champion_list[champion.championId].id }}_0.jpg"
                alt="">
        </div>
        {% if champion.chestGranted %}
        <div class="chest-granted">
            <img class="small-chest" src="../static/img/chest.png" alt="Coffre hextech">
        </div>
        {% else %}
        <div class="chest-not-granted">
            <img class="small-chest" src="../static/img/chest-not-granted.png" alt="Coffre hextech">
        </div>
        {% endif %}
        <!--{{ champion }}-->

        <p class="champion-name">
            {{ champion_list[champion.championId].name }}
        </p>
        <p class="champion-informations">Niv. {{ champion.championLevel }}</p>
        <p class="champion-informations">Points : {{ champion.championPoints }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}