* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #030608;
  color: white;
}

.card-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem auto 0;
}

.card {
  position: relative;
  margin: 1rem 0.5rem;
  width: 12rem;
}

.image img {
  width: 12rem;
}

.image {
  display: flex;
  justify-content: center;
}

header img {
  width: 8rem;
}

.small-chest {
  width: 3rem;
}

.chest-granted, .chest-not-granted {
  width: 100%;
  position: absolute;
  top: 18.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #030608a1;
}

.champion-name {
  margin-top: 0.3rem;
  text-align: center;
  color: #d0a85c;
  font-size: 1.1rem;
}

.champion-informations {
  text-align: left;
}

.chest-granted {
  border-bottom: 0.1rem solid #73d05c;
}

.chest-not-granted {
  border-bottom: 0.1rem solid #d05c5c;
}

header {
  background-color: #001829;
  border-bottom: 0.3rem solid #8d713e;
  margin-bottom: 1rem;
}

select {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #d0a85c;
  padding: 0.2rem 0.7rem;
  border: 1px solid #273646;
  outline: none;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div {
  margin: 0.5rem 1rem;
}

.input-sum-name {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  outline: none;
  padding: 0.2rem 0.4rem;
  border: none;
}

.input-btn {
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
  border: none;
  color: #ebebeb;
  border: 0.15rem solid #0bc6e3;
  text-align: center;
  transition: 0.3s;
}

.input-btn:hover {
  background-color: #0bc6e3;
  color: black;
}

@media (max-width: 800px) {
  form {
    display: block;
  }
  .form-div {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
  }
}